*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Merriweather', serif;
}

.wrap-menu{
    position: fixed;
    width: 100%;
    height: 30px;
    z-index:999;
    background-color: rgba(241, 238, 238, 0.788);
    top: 0%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
ul {
    position: absolute;
    top: 5px;
    left: 34%;
    list-style: none;
    display: flex;
    gap: 70px;
    width: 100%;
    flex-wrap: wrap;
   
}

.perfil01{
    width: 100%;
    height: 600px;
    background: rgb(201, 184, 184);
}
.perfil02{
    width: 100%;
    height: 600px;
    background: rgb(157, 180, 167);
}
.tecDiv{
    width: 100%;
    height: 600px;
    background: rgb(189, 180, 196);
}
.contactDiv{
    width: 100%;
    height: auto;
    background: rgb(192, 206, 170);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px;
}

.leftContact{
    width: 600px;
    height: 500px;
    min-width: 300px;
    background-color: lightcyan;
}

.rightContact{
    width: 600px;
    height: 500px;
    min-width: 300px;
    background-color: lightgreen;
}